@font-face
  font-family: Quark
  src: url('/fonts/Quark-LightBold/Quark-Light.otf') format("truetype")
html
  background: #F1F1F1
div
  font-family: Quark , verdana, helvetica, sans-serif
nav
  .brand-logo.brand-ada
    position: static !important
nav
  .brand-logo.brand-admin
    position: static !important
.row.login-page
  margin-bottom: 0px !important
.row.signup-page
  margin-bottom: 0px !important
.row.main-page
  .col
    padding: 0
.tumbnail-img
  height: 7.6em important
.row.main-page
  .col.tumbnail-items
    padding-left: 1em
    padding-right: 1em
.slides
  height: 34em !important
.row
  .col.videos-detail
    padding: 0.6rem 0.3rem
.row
  .col.videos-relates
    padding: 0.6rem 0.3rem
.row
  .col.tumbnail-relates
    padding: 0 0.1rem
.card
  .card-content.detail-tumbnail
    padding: 0
    span
      padding-left: 0.3em
      padding-right: 0.3em
      i
        padding-top: 0.3em
    .card-title
      line-height: 47px
    .btn-floating
      -webkit-box-shadow: 0px 0px 2px 0px rgba(189,187,189,1)
      -moz-box-shadow: 0px 0px 2px 0px rgba(189,187,189,1)
      box-shadow: 0px 0px 2px 0px rgba(189,187,189,1)
.divider
  margin-bottom: 0.4em


/////Navigator/////

.menu-nav
  width: 50% !important
  height: 100%
  background-color: #43609C
  overflow-x: hidden
  li
    height: 100% !important
  a
    text-transform: none !important
    font-size: 20px
    font-weight: bold
    line-height: 3.5em
    color: #fff !important
    height: 100% !important
  .indicator
    background-color: #F44336 !important
.dropdown-content.avatar
  top: 4.29em !important
  background-color: #212121
  hr
    border-color: #333
    box-shadow: inset 0 0 10px #000000
    margin-bottom: 0
  li
    a
      color: #fff
      font-weight: bold
  li:hover
    background: rgba(0,0,0,0.2)

/////Scroll Bar/////
#style-1::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	border-radius: 200px
	background-color: #F5F5F5

#style-1::-webkit-scrollbar
	width: 3px
	background-color: #F5F5F5
  border-radius: 200px

#style-1::-webkit-scrollbar-thumb
	border-radius: 200px
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: #7CB6DD

/////Admin Site/////
.dropdown-content.avatar-admin
  top: 4.29em !important
  background-color: #212121
  hr
    border-color: #333
    box-shadow: inset 0 0 10px #000000
    margin-bottom: 0
  li
    a
      color: #fff
      font-weight: bold
  li:hover
    background: rgba(0,0,0,0.2)
.row.admin-site
  .col
    padding: 0
.menu-admin
  width: 100%
  display: flex
  flex-flow: column
  margin-top: 0
  li:hover
    background-color: rgba(0, 0, 0, 0.1)
  .menu-item-admin
    text-align: center
    cursor: pointer
    color: #fff
    font-size: 20px
    font-weight: bold
    padding-top: 1em
    padding-bottom: 1em
.tab-menu-admin
  overflow-x: hidden
.menu-item-admin-group
  .divider
    background-color: #68748d
    margin-bottom: 0
/////Responsive/////

$breakpoint-tablet: 992px
$breakpoint-mobile-mini: 350px
$breakpoint-mobile-large: 1000px
$breakpoint-labtop: 1366px
$breakpoint-desktop: 1680px


/////Labtop Display/////
@media only screen and (min-width: 1001px) and (max-width: $breakpoint-labtop)
  /////Login Page/////
  .style-form-login
    display: flex
    align-items: center
    flex-flow: column
    height: 35em
    border-radius: 2px
    background-color: rgba(250,250,250,0.8)
  .style-form-signup
    display: flex
    align-items: center
    flex-flow: column
    height: 42em !important
    border-radius: 2px
    background-color: rgba(250,250,250,0.8)
  .btn-floating.btn-large.style-signup-button
    right: -4em
    top: 2em
    width: 6em
    height: 6em

  /////Main Page/////
  .slider
    height: 38.3em !important
    margin-bottom: 1em
  .radius-img
    -webkit-border-bottom-right-radius: 100px
    -webkit-border-bottom-left-radius: 100px
    -moz-border-radius-bottomright: 100px
    -moz-border-radius-bottomleft: 100px
    border-bottom-right-radius: 100px
    border-bottom-left-radius: 100px
  .list-img-slide
    width: 21.45em !important
    height: 35em !important

/////Desktop Display/////
@media only screen and (min-width: 1367px) and (max-width: $breakpoint-desktop)
  /////Login Page/////
  .style-form-login
    display: flex
    align-items: center
    flex-flow: column
    height: 36em
    border-radius: 2px
    background-color: rgba(250,250,250,0.8)
  .style-form-signup
    display: flex
    align-items: center
    flex-flow: column
    height: 44em !important
    border-radius: 2px
    background-color: rgba(250,250,250,0.8)
  .btn-floating.btn-large.style-signup-button
    margin-right: -3.5em
    margin-top: 6em
    width: 6em
    height: 6em

  /////Main Page/////
  .slider
    height: 45em !important
    margin-bottom: 1em
  .radius-img
    -webkit-border-bottom-right-radius: 90px
    -webkit-border-bottom-left-radius: 90px
    -moz-border-radius-bottomright: 90px
    -moz-border-radius-bottomleft: 90px
    border-bottom-right-radius: 90px
    border-bottom-left-radius: 90px
  .list-img-slide
    width: 26.8em !important
    height: 42em !important
  .card-mobile
    height: 240px
/////mobile/////
@media only screen and (min-width: $breakpoint-mobile-mini) and (max-width: $breakpoint-mobile-large)
  /////Login Page/////
  .style-form-login
    display: flex
    align-items: center
    flex-flow: column
    width: 100% !important
    height: 80em !important
    border-radius: 2px
    background-color: rgba(250,250,250,0.8)
  .style-form-signup
    display: flex
    align-items: center
    flex-flow: column
    height: 86em !important
    width: 100% !important
    border-radius: 2px
    background-color: rgba(250,250,250,0.8)
  .img-logo
    margin-top: 6em !important
    margin-bottom: 2em
    width: 12em !important
  .col.s12.input-login
    margin-top: 3em
  .col.s12
    #username
      font-size: 40px
      margin-top: 1.5em
    #password
      font-size: 40px
      margin-top: 1.5em
    #usernameSignup
      font-size: 40px
      line-height: 0px
      margin-top: 1.5em
    #email
      font-size: 40px
      line-height: 0px
      margin-top: 1.5em
    #passwordSignup
      font-size: 40px
      margin-top: 1.5em
    #rePassword
      font-size: 40px
      margin-top: 1.5em
    #btnLogin
      height: 2.5em
      font-size: 35px
      margin-top: 1em
    #btnLoginFacebook
      height: 2.5em
      font-size: 35px
      margin-top: 1em
      i
        font-size: 2.5rem
    #btnSignup
      height: 2.5em
      font-size: 35px
    #btnBack
      height: 2.5em
      font-size: 35px
    label.term-condition
      font-size: 40px
      margin-top: 1em
      margin-bottom: 1em
    label
      font-size: 50px
    label.active
      transform: translateY(-60%)
      font-size: 40px
  .forget-password
    display: flex
    align-items: flex-end
    height: 10%
    h6
      font-size: 40px
  .btn-floating.btn-large.style-signup-button
    margin-right: -8.3em
    margin-top: 13em
    width: 13em
    height: 13em
    i
      font-size: 6.2em !important


  /////Navigator/////
  nav
    .brand-logo.brand-ada
      position: fixed !important
  #navigator
    height: 15em
    width: 100%
  .nav-wrapper
    display: flex
    flex-flow: column
  .menu-nav
    width: 100% !important
    height: 45% !important
    display: flex
    justify-content: space-around
    margin-bottom: 1em
    order: 3
    a
      font-size: 40px
      margin-bottom: 1em
  .avatar-nav
    display: flex
    justify-content: flex-end
    order: 2
  .brand-logo
    margin-left: 11.2em
    width: 100%
    display: flex
    justify-content: center
    order: 1
    img
      width: 12em !important
      height: 5em

  /////Main Page/////
  .slides
    height: 70em !important
  .slider
    height: 74.3em !important
    margin-bottom: 1em
  .radius-img
    -webkit-border-bottom-right-radius: 200px
    -webkit-border-bottom-left-radius: 200px
    -moz-border-radius-bottomright: 200px
    -moz-border-radius-bottomleft: 200px
    border-bottom-right-radius: 200px
    border-bottom-left-radius: 200px
  .list-img-slide
    width: 100% !important
    height: auto !important
    h5
      font-size: 60px
  .column-news
    position: relative !important
    margin-top: 10em !important
  .column-course
    margin-left: 0em !important
  .course-container
    width: 100% !important
    h4.course-header
      font-size: 60px
    .divider
      margin-bottom: 1.5em
  .card-mobile
    height: 430px !important
    margin: 1em
    margin-bottom: 1em
  .tumbnail-img
    height: 17em important
  .detail-tumbnail
    padding-top: 1em !important
    .card-title
      font-size: 50px
    i
      font-size: 45px
      padding-top: 0 !important
    i.icon-play
      line-height: 1.2em
      font-size: 5em
    .btn-floating
      width: 6em
      height: 6em
      margin-top: 0.5em
  /////Player Page/////
  .player-page
    margin-top: 10.5em !important
